<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.healthygood.mapper.activity.ActivityProductMapper">

    <!-- 数据库字段对象关系映射 -->
    <resultMap id="BaseResultMap"
        type="com.lhiot.healthygood.domain.activity.ActivityProduct" >
        <id column="id" property="id"/>
        <result column="activity_id" property="activityId" />
        <result column="activity_type" property="activityType" />
        <result column="product_shelf_id" property="productShelfId" />
        <result column="activity_price" property="activityPrice" />
    </resultMap>

    <!-- base查询字段  -->
    <sql id="Base_Column_List" >
        <trim suffixOverrides="," >
            id,
            activity_id,
            activity_type,
            product_shelf_id,
            activity_price,
        </trim>
    </sql>

    <!--新增活动商品-->
    <insert id="create" parameterType="com.lhiot.healthygood.domain.activity.ActivityProduct" useGeneratedKeys="true" keyProperty="id">
        insert into activity_product
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null ">
                id,
            </if>
            <if test="activityId != null ">
                activity_id,
            </if>
            <if test="activityType != null ">
                activity_type,
            </if>
            <if test="productShelfId != null ">
                product_shelf_id,
            </if>
            <if test="activityPrice != null ">
                activity_price,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null ">
                #{id},
            </if>
            <if test="activityId != null ">
                #{activityId},
            </if>
            <if test="activityType != null ">
                #{activityType},
            </if>
            <if test="productShelfId != null ">
                #{productShelfId},
            </if>
            <if test="activityPrice != null ">
                #{activityPrice},
            </if>
        </trim>
    </insert>

    <!--根据id修改活动商品-->
    <update id="updateById" parameterType="com.lhiot.healthygood.domain.activity.ActivityProduct">
        update activity_product
        <set>
            <if test="id != null ">
                id = #{id},
            </if>
            <if test="activityId != null ">
                activity_id = #{activityId},
            </if>
            <if test="activityType != null ">
                activity_type = #{activityType},
            </if>
            <if test="productShelfId != null ">
                product_shelf_id = #{productShelfId},
            </if>
            <if test="activityPrice != null ">
                activity_price = #{activityPrice},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--根据ids删除活动商品-->
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from activity_product where id in
        <foreach collection="list" item="item" open="("
            separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 根据id查找活动商品 -->
	<select id="selectById" resultMap="BaseResultMap"
		parameterType="long"> select <include refid="Base_Column_List" />
		from activity_product where id = #{id}
	</select>


    <!-- base where条件  -->
    <sql id="Base_Where_Condition" >
        <where>
            <if test="id != null ">
                and id = #{id}
            </if>
            <if test="activityId != null ">
                and activity_id = #{activityId}
            </if>
            <if test="activityType != null ">
                and activity_type = #{activityType}
            </if>
            <if test="productShelfId != null ">
                and product_shelf_id = #{productShelfId}
            </if>
            <if test="activityPrice != null ">
                and activity_price = #{activityPrice}
            </if>
        </where>
    </sql>


    <!--查询活动商品列表-->
     <select id="pageActivityProducts" resultMap="BaseResultMap"
        parameterType="com.lhiot.healthygood.domain.activity.ActivityProduct">
	        select <include refid="Base_Column_List" />
	        from activity_product
	        <include refid="Base_Where_Condition" />
	        <include refid="common.pager" />
    </select>

    <!--查询活动商品总记录-->
    <select id="pageActivityProductCounts" resultType="long"
        parameterType="com.lhiot.healthygood.domain.activity.ActivityProduct">
            select count(1)
            from activity_product
            <include refid="Base_Where_Condition" />
    </select>

</mapper>