<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.healthygood.mapper.customplan.CustomPlanSectionMapper">

    <!-- 数据库字段对象关系映射 -->
    <resultMap id="BaseResultMap"
        type="com.lhiot.healthygood.domain.customplan.CustomPlanSection" >
        <id column="id" property="id"/>
        <result column="section_image" property="sectionImage" />
        <result column="url" property="url" />
        <result column="section_name" property="sectionName" />
        <result column="section_code" property="sectionCode" />
        <result column="sort" property="sort" />
        <result column="create_at" property="createAt" />
    </resultMap>

    <!-- base查询字段  -->
    <sql id="Base_Column_List" >
        <trim suffixOverrides="," >
            id,
            section_image,
            url,
            section_name,
            section_code,
            sort,
            create_at,
        </trim>
    </sql>

    <!--新增定制计划板块-->
    <insert id="create" parameterType="com.lhiot.healthygood.domain.customplan.CustomPlanSection" useGeneratedKeys="true" keyProperty="id">
        insert into custom_plan_section
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null ">
                id,
            </if>
            <if test="sectionImage != null ">
                section_image,
            </if>
            <if test="url != null ">
                url,
            </if>
            <if test="sectionName != null ">
                section_name,
            </if>
            <if test="sectionCode != null ">
                section_code,
            </if>
            <if test="sort != null ">
                sort,
            </if>
            <if test="createAt != null ">
                create_at,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null ">
                #{id},
            </if>
            <if test="sectionImage != null ">
                #{sectionImage},
            </if>
            <if test="url != null ">
                #{url},
            </if>
            <if test="sectionName != null ">
                #{sectionName},
            </if>
            <if test="sectionCode != null ">
                #{sectionCode},
            </if>
            <if test="sort != null ">
                #{sort},
            </if>
            <if test="createAt != null ">
                #{createAt},
            </if>
        </trim>
    </insert>

    <!--根据id修改定制计划板块-->
    <update id="updateById" parameterType="com.lhiot.healthygood.domain.customplan.CustomPlanSection">
        update custom_plan_section
        <set>
            <if test="id != null ">
                id = #{id},
            </if>
            <if test="sectionImage != null ">
                section_image = #{sectionImage},
            </if>
            <if test="url != null ">
                url = #{url},
            </if>
            <if test="sectionName != null ">
                section_name = #{sectionName},
            </if>
            <if test="sectionCode != null ">
                section_code = #{sectionCode},
            </if>
            <if test="sort != null ">
                sort = #{sort},
            </if>
            <if test="createAt != null ">
                create_at = #{createAt},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--根据ids删除定制计划板块-->
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from custom_plan_section where id in
        <foreach collection="list" item="item" open="("
            separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 根据id查找定制计划板块 -->
	<select id="selectById" resultMap="BaseResultMap"
		parameterType="long"> select <include refid="Base_Column_List" />
		from custom_plan_section where id = #{id}
	</select>

    <!-- 根据id查找定制计划板块 -->
    <select id="selectBySectionCode" resultMap="BaseResultMap"
            parameterType="string"> select <include refid="Base_Column_List" />
        from custom_plan_section where section_code = #{0}
    </select>


    <!-- base where条件  -->
    <sql id="Base_Where_Condition" >
        <where>
            <if test="id != null ">
                and id = #{id}
            </if>
            <if test="sectionImage != null ">
                and section_image = #{sectionImage}
            </if>
            <if test="url != null ">
                and url = #{url}
            </if>
            <if test="sectionName != null ">
                and section_name = #{sectionName}
            </if>
            <if test="sectionCode != null ">
                and section_code = #{sectionCode}
            </if>
            <if test="sort != null ">
                and sort = #{sort}
            </if>
            <if test="createAt != null ">
                and create_at = #{createAt}
            </if>
        </where>
    </sql>


    <!--查询定制计划板块列表-->
     <select id="pageCustomPlanSections" resultMap="BaseResultMap"
        parameterType="com.lhiot.healthygood.domain.customplan.CustomPlanSection">
	        select <include refid="Base_Column_List" />
	        from custom_plan_section
	        <include refid="Base_Where_Condition" />
	        <include refid="common.pager" />
    </select>

    <!--查询定制计划板块总记录-->
    <select id="pageCustomPlanSectionCounts" resultType="long"
        parameterType="com.lhiot.healthygood.domain.customplan.CustomPlanSection">
            select count(1)
            from custom_plan_section
            <include refid="Base_Where_Condition" />
    </select>

</mapper>