<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.healthygood.mapper.customplan.CustomOrderDeliveryMapper">

    <!-- 数据库字段对象关系映射 -->
    <resultMap id="BaseResultMap"
               type="com.lhiot.healthygood.domain.customplan.CustomOrderDelivery">
        <id column="id" property="id"/>
        <result column="product_shelf_id" property="productShelfId"/>
        <result column="create_at" property="createAt"/>
        <result column="delivery_time" property="deliveryTime"/>
        <result column="delivery_address" property="deliveryAddress"/>
        <result column="delivery_status" property="deliveryStatus"/>
        <result column="receving_time" property="recevingTime"/>
        <result column="order_code" property="orderCode"/>
        <result column="custom_order_id" property="customOrderId"/>
        <result column="custom_plan_product_id" property="customPlanProductId"/>
        <result column="plan_id" property="planId"/>
        <result column="day_of_period" property="dayOfPeriod"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <!-- base查询字段  -->
    <sql id="Base_Column_List">
        <trim suffixOverrides=",">
            p.plan_id,
            p.product_shelf_id,
            p.day_of_period,
            d.id,
            d.create_at,
            d.delivery_time,
            d.delivery_address,
            d.delivery_status,
            d.receving_time,
            d.order_code,
            d.custom_order_id,
            d.custom_plan_product_id,
            d.remark,
        </trim>
    </sql>

    <!--新增定制计划-->
    <insert id="create" parameterType="com.lhiot.healthygood.domain.customplan.CustomOrderDelivery"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into custom_order_delivery
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productShelfId != null ">
                product_shelf_id,
            </if>
            <if test="createAt != null ">
                create_at,
            </if>
            <if test="deliveryTime != null ">
                delivery_time,
            </if>
            <if test="deliveryAddress != null ">
                delivery_address,
            </if>
            <if test="deliveryStatus != null ">
                delivery_status,
            </if>
            <if test="recevingTime != null ">
                receving_time,
            </if>
            <if test="orderCode != null ">
                order_code,
            </if>
            <if test="customOrderId != null ">
                custom_order_id,
            </if>
            <if test="customPlanProductId != null ">
                custom_plan_product_id,
            </if>
            <if test="remark != null ">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productShelfId != null ">
                #{productShelfId},
            </if>
            <if test="createAt != null ">
                #{createAt},
            </if>
            <if test="deliveryTime != null ">
                #{deliveryTime},
            </if>
            <if test="deliveryAddress != null ">
                #{deliveryAddress},
            </if>
            <if test="deliveryStatus != null ">
                #{deliveryStatus},
            </if>
            <if test="recevingTime != null ">
                #{recevingTime},
            </if>
            <if test="orderCode != null ">
                #{orderCode},
            </if>
            <if test="customOrderId != null ">
                #{customOrderId},
            </if>
            <if test="customPlanProductId != null ">
                #{customPlanProductId},
            </if>
            <if test="remark != null ">
                #{remark},
            </if>
        </trim>
    </insert>

    <update id="updateByOrderCode" parameterType="com.lhiot.healthygood.domain.customplan.CustomOrderDelivery">
        update custom_order_delivery
        <set>
            <if test="deliveryStatus != null ">
                delivery_status = #{deliveryStatus},
            </if>
            <if test="recevingTime != null ">
                receving_time = #{recevingTime},
            </if>
        </set>
        where order_code = #{orderCode}
    </update>

    <!-- 根据customOrderId查找定制计划的商品与实际提取记录 -->
    <select id="selectByCustomOrderId" resultMap="BaseResultMap" parameterType="Long">
        select <include refid="Base_Column_List"/>
        from
        (select * from custom_plan_product where plan_id = #{planId} and plan_period = #{planPeriod} order by sort asc) p
        left join
        (select * from custom_order_delivery where custom_order_id = #{customOrderId}) d
        on p.id= d.custom_plan_product_id
    </select>

    <select id="selectOrderCode" resultType="com.lhiot.healthygood.domain.customplan.CustomOrderDelivery" parameterType="String">
        select * from custom_order_delivery where order_code =#{0}
    </select>
</mapper>