<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhiot.healthygood.mapper.customplan.CustomPlanSpecificationMapper">

    <!-- 数据库字段对象关系映射 -->
    <resultMap id="BaseResultMap"
               type="com.lhiot.healthygood.domain.customplan.CustomPlanSpecification">
        <id column="id" property="id"/>
        <result column="plan_id" property="planId"/>
        <result column="price" property="price"/>
        <result column="quantity" property="quantity"/>
        <result column="description" property="description"/>
        <result column="plan_period" property="planPeriod"/>
    </resultMap>

    <!-- base查询字段  -->
    <sql id="Base_Column_List">
        <trim suffixOverrides=",">
            id,
            plan_id,
            price,
            quantity,
            description,
            plan_period,
        </trim>
    </sql>

    <!--新增定制计划规格-->
    <insert id="create" parameterType="com.lhiot.healthygood.domain.customplan.CustomPlanSpecification"
            useGeneratedKeys="true" keyProperty="id">
        insert into custom_plan_specification
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null ">
                id,
            </if>
            <if test="planId != null ">
                plan_id,
            </if>
            <if test="price != null ">
                price,
            </if>
            <if test="quantity != null ">
                quantity,
            </if>
            <if test="description != null ">
                description,
            </if>
            <if test="planPeriod != null ">
                plan_period,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null ">
                #{id},
            </if>
            <if test="planId != null ">
                #{planId},
            </if>
            <if test="price != null ">
                #{price},
            </if>
            <if test="quantity != null ">
                #{quantity},
            </if>
            <if test="description != null ">
                #{description},
            </if>
            <if test="planPeriod != null ">
                #{planPeriod},
            </if>
        </trim>
    </insert>

    <!--根据id修改定制计划规格-->
    <update id="updateById" parameterType="com.lhiot.healthygood.domain.customplan.CustomPlanSpecification">
        update custom_plan_specification
        <set>
            <if test="id != null ">
                id = #{id},
            </if>
            <if test="planId != null ">
                plan_id = #{planId},
            </if>
            <if test="price != null ">
                price = #{price},
            </if>
            <if test="quantity != null ">
                quantity = #{quantity},
            </if>
            <if test="description != null ">
                description = #{description},
            </if>
            <if test="planPeriod != null ">
                plan_period = #{planPeriod},
            </if>
        </set>
        where id=#{id}
    </update>

    <!--根据ids删除定制计划规格-->
    <delete id="deleteByIds" parameterType="java.util.List">
        delete from custom_plan_specification where id in
        <foreach collection="list" item="item" open="("
                 separator="," close=")">
            #{item}
        </foreach>
    </delete>


    <!-- 根据id查找定制计划规格 -->
    <select id="selectById" resultMap="BaseResultMap"
            parameterType="long">select
        <include refid="Base_Column_List"/>
        from custom_plan_specification where id = #{id}
    </select>


    <!-- base where条件  -->
    <sql id="Base_Where_Condition">
        <where>
            <if test="id != null ">
                and id = #{id}
            </if>
            <if test="planId != null ">
                and plan_id = #{planId}
            </if>
            <if test="price != null ">
                and price = #{price}
            </if>
            <if test="quantity != null ">
                and quantity = #{quantity}
            </if>
            <if test="description != null ">
                and description = #{description}
            </if>
            <if test="planPeriod != null ">
                and plan_period = #{planPeriod}
            </if>
        </where>
    </sql>


    <!--查询定制计划规格列表-->
    <select id="pageCustomPlanSpecifications" resultMap="BaseResultMap"
            parameterType="com.lhiot.healthygood.domain.customplan.CustomPlanSpecification">
        select
        <include refid="Base_Column_List"/>
        from custom_plan_specification
        <include refid="Base_Where_Condition"/>
        <include refid="common.pager"/>
    </select>

    <!--查询定制计划规格总记录-->
    <select id="pageCustomPlanSpecificationCounts" resultType="long"
            parameterType="com.lhiot.healthygood.domain.customplan.CustomPlanSpecification">
        select count(1)
        from custom_plan_specification
        <include refid="Base_Where_Condition"/>
    </select>

    <!-- 根据板块id查询定制计划 -->
    <select id="findByPlanIdAndPerid" resultMap="BaseResultMap"
            parameterType="map">select
        <include refid="Base_Column_List"/>
        from
        custom_plan_specification where plan_id = #{planId}
        <if test="planPeriod != null ">
            and plan_period = #{planPeriod}
        </if>
    </select>

    <!-- 批量新增定制计划集合 -->
    <insert id="insertList" parameterType="java.util.List">
        insert into custom_plan_specification (plan_id,price,quantity,description, plan_period)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.planId},
            #{item.price},
            #{item.quantity},
            #{item.description},
            #{item.planPeriod}
            )
        </foreach>
    </insert>

</mapper>